:root {
    --primary-color: aqua;
    --secondary-color: ghostwhite;
    --gray-color: gray;
    --white-color: ghostwhite;
}
:root.dark {
    --primary-color: midnightblue;
}

body {
    /*
    display: flex;
    flex-direction: column;
    */
    margin: 0;
    background-color: var(--secondary-color);
}

/* navigation sidebar */
.sidebar {
    position: fixed;
    bottom: 0;
    background-color: var(--primary-color);
    height: 10rem;
    width: 100%;
}
.logo {
    display: none;
}
nav {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
}
nav a {
    display: flex;
    flex: 1;
}
svg {
    margin: auto;
    color: var(--white-color);
    max-width: 100px;
}

.tasks {
    display: none;
}
.communities {
    display: none;
}
.settings {
    display: none;
}

/* main content */
/*
.container {
    display: grid;
    background-color: black;
}
.item {
    background-color: var(--light-color);
    text-align: center;
}
*/

main {}

/* projects */
.projects-container {

}

/* announcements */
.announcements-container {
    display: none;
}

/* trending */
.trending-container {
    display: none;
}

/* css when not a small phone*/
@media only screen and (min-width: 500px) {
    .sidebar {
        display: flex;
        flex-direction: column;
        left: 0;
        height: 100%;
        width: 70px;
    }
    nav {
        height: auto;
    }
    svg {
        width: 50px;
    }
    .logo {
        display: block;
    }

    .tasks {
        display: flex;
    }
    .communities {
        display: flex;
    }
    
    .settings {
        display: block;
    }
    /*
    sidebar on left side with items flowing downwards
    text can shrink to nothing but icons stay
    */
}
/* styling when small ipad*/
@media only screen and (min-width: 1000px) {
    /*
    announcements and trends now shows
    messages would now show
    */
}
/* styling when on pc */
@media only screen and (min-width: 1280px) {
    /*
    sidebar text now shows
    */
}